html,
body {
  background-color: #fafafa;
}
.am-topbar {
  box-shadow: 0 2px 4px 0 rgba(116, 129, 141, 0.1);
  background: #fff;
}
#wrapper {
  min-height: 87vh;
}
.pes-article-left-sidebar {
  position: fixed;
  border-color: #DCDFE6;
  border-style: solid;
  border-width: 1px 1px 0 0;
  overflow-y: auto;
  padding: 0 10px 30px 10px;
  top: 6.7rem;
  bottom: 0;
  left: 0;
  transition: transform 0.25s ease-out;
  width: 250px;
  z-index: 3;
  background: #F5F7F9;
}
.pes-article-left-sidebar::-webkit-scrollbar {
  width: 4px;
  height: 10px;
}
.pes-article-left-sidebar:hover::-webkit-scrollbar-thumb {
  background: #82c0ff;
}
.pes-article-left-sidebar .pes-doc-path-container .pes-doc-path {
  padding-left: 1rem;
  font-size: 1.6rem;
  list-style: none;
  margin: 0;
}
.pes-article-left-sidebar .pes-doc-path-container .pes-doc-path li > a.am-active {
  border-width: 3px !important;
  border-right: 3px solid #5eb95e;
}
.pes-article-left-sidebar .pes-doc-path-container .pes-doc-path li .am-active {
  color: #67C23A;
}
.pes-article-left-sidebar .pes-doc-path-container .pes-doc-path li a {
  position: relative;
  padding: 5px 0;
  color: #606266;
  display: block;
  z-index: 1;
}
.pes-article-left-sidebar .pes-doc-path-container .pes-doc-path li a sup {
  cursor: help;
}
.pes-article-left-sidebar .pes-doc-path-container .pes-doc-path li a:not(.pes-doc-path-node) {
  padding-left: 1.5rem;
}
.pes-article-left-sidebar .pes-doc-path-container .pes-doc-path li ul {
  padding-left: 1.8rem;
}
.pes-article-left-sidebar .pes-doc-path-container .pes-doc-path li .pes-article-copy-link {
  position: absolute;
  left: -3px;
  cursor: copy;
  z-index: 2;
}
.pes-article-right-sidebar {
  position: fixed;
  border-color: #DCDFE6;
  border-style: solid;
  border-width: 1px 0 0 1px;
  top: 6.7rem;
  bottom: 0;
  right: 0;
  width: 250px;
  z-index: 3;
  background: #fff;
  padding: 30px 10px 0 10px;
  overflow: auto;
}
.pes-article-right-sidebar::-webkit-scrollbar {
  width: 4px;
  height: 10px;
}
.pes-article-right-sidebar:hover::-webkit-scrollbar-thumb {
  background: #82c0ff;
}
.pes-article-right-sidebar .pes-article-right-sidebar-move {
  width: 10px;
  height: 100%;
  position: absolute;
  left: -5px;
  top: 0;
  cursor: col-resize;
}
.pes-article-right-sidebar .pes-sidebar-tool {
  margin-top: 1.6rem;
  padding-top: 1.6rem;
  border-top: 1px solid #DCDFE6;
}
.pes-article-right-sidebar .pes-doc-article-tool {
  display: none;
}
.mobile-button {
  display: none;
}
@media only screen and (max-width: 640px) {
  .pes-article-left-sidebar {
    display: none;
    z-index: 9999;
    top: 0 !important;
    transition: transform 0.25s ease-out;
    animation: bounceInLeft 0.6s infinite cubic-bezier(0.6, 0.9, 0.1, 1);
    animation-iteration-count: 1;
  }
  @keyframes bounceInLeft {
    0% {
      opacity: 0;
      transform: translate3d(-3000px, 0, 0);
    }
    60% {
      opacity: 1;
      transform: translate3d(0px, 0, 0);
    }
    75% {
      transform: translate3d(0px, 0, 0);
    }
    90% {
      transform: translate3d(0px, 0, 0);
    }
    100% {
      transform: none;
    }
  }
  .mask-layer {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(3, 14, 27, 0.7);
    transition: opacity 1s ease-in-out;
    z-index: 1001;
    display: none;
  }
  .pes-article-right-sidebar {
    position: relative;
    width: 100%;
  }
  .pes-article-right-sidebar .pes-article-right-sidebar-move {
    display: none;
  }
  .pes-article-paper {
    margin: 0 15px !important;
    padding: 0 !important;
  }
  .mobile-button {
    display: block;
    position: fixed;
    bottom: 50px;
    right: 10px;
    z-index: 9999;
  }
  .mobile-button a {
    display: block;
    margin: 10px 0;
  }
}
.pes-article-sidebar-scroll {
  top: 0px;
  border-top: 0;
}
.pes-article-sidebar-scroll .pes-article-history-left-divider {
  border-left: 1px solid #DCDFE6;
  position: absolute;
  left: -1px;
  top: 0;
  height: 100%;
}
.pes-article-sidebar-scroll .pes-article-history-right-divider {
  border-right: 1px solid #DCDFE6;
  position: absolute;
  right: 0px;
  top: 0;
  height: 100%;
}
.pes-article-paper {
  border-color: #DCDFE6;
  border-style: solid;
  border-width: 1px 0px 0 0;
  margin: 0 250px 0 250px;
  padding: 30px 30px;
}
.pes-article-paper h1 {
  padding-bottom: 15px;
  border-bottom: 1px solid #DCDFE6;
}
.pes-article-paper #editor-tab-list {
  margin-bottom: 5px;
}
.pes-article-paper #editor-tab-list a {
  padding-bottom: 3px;
  margin-right: 5px;
}
.pes-article-paper #editor-tab-list .am-active {
  color: #67C23A;
  border-bottom: 2px solid #67C23A;
}
.pes-article-paper .vditor-content {
  min-height: 400px;
}
.pes-doc-cover {
  width: 150px;
  height: 150px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  display: inline-block;
  border: 1px solid #DCDFE6;
  border-radius: 10px;
}
.pes-doc-cover:hover {
  opacity: 0.5;
  transition: opacity 0.6s;
}
/*
===================
表格声明
===================
*/
.table-checked {
  width: 30px;
}
.table-sort {
  width: 60px;
}
/*
===================
图标 导航、版块管理
展开收起、所属
===================
*/
.start_icon,
.away_icon,
.zero_icon,
.plus_icon,
.plus_end_icon {
  background: url(/Theme/assets/i/icon_list.png) no-repeat;
  display: inline-block;
  vertical-align: middle;
}
.start_icon,
.away_icon,
.zero_icon,
.plus_none_icon {
  background: none !important;
  width: 20px;
  height: 20px;
  overflow: hidden;
  cursor: pointer;
}
.away_icon {
  background-position: 0 -20px;
}
.zero_icon {
  background-position: -20px 0;
  cursor: default;
}
.plus_icon,
.plus_end_icon {
  width: 40px;
  height: 24px;
  background-position: 0 -43px;
  margin-right: 5px;
}
.plus_end_icon {
  background-position: 0 -70px;
}
.plus_on_icon {
  background-position: 0 -100px;
  cursor: default;
}
.pes-jump {
  padding-top: 5%;
}
@media only screen and (max-width: 640px) {
  .pes-jump {
    padding-top: 40%;
  }
}
.pes-jump h1,
.pes-jump h2 {
  font-weight: normal;
}
.pes-jump h1 {
  font-size: 3em;
}
.pes-jump h2 {
  font-size: 14px;
}
/*
===================
页脚
===================
*/
#footer {
  padding: 16px 0 14px 0;
  font-size: 14px;
}
#footer a {
  color: #8c8c8c;
}
#footer a:hover {
  color: #000000;
}
#footer .pes-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}
#footer .footer-line {
  display: inline-block;
  vertical-align: middle;
  margin: 0 8px;
  width: 1px;
  height: 14px;
  background-color: #cecece;
}
