/*---------------公用杂项---------------*/
/*白色背景*/
.tm-background-color-white{
    background: #ffffff;
}
/*背景颜色efefef*/
.tm-background-color-efefef{
    background: #EFEFEF;
}
/*移除链接的背景色*/
.tm-remove-a-background-color-hover:hover{
    background: none !important;
}
/*移除浮动*/
.tm-float-none{
    float: none !important;
}
/*移除h2的margin-top*/
.am-article-bd h2{
    margin-top: 0;
}
/*移除overflow*/
.tm-remove-overflow{
    overflow: visible !important;
}
/*全满宽度*/
.tm-full-width{
    width: 100%;
}

/*---------------字体类---------------*/
/*字体加粗*/
.tm-text-font-weight{
    font-weight: 600;
}

/*字体颜色*/
.tm-text-color-white{
    color: #ffffff !important;
}

/*at提示中的链接颜色*/
.tm-at-tips-a-color a{
    color: #0e90d2;
}

/*设置文章字体为14 rem*/
.tm-article{
    font-size: 1.4rem;
}

/*---------------边框类---------------*/
/*移除边框*/
.tm-remove-border{
    border: none !important;
}
/*左边框*/
.tm-border-left{
    border-left: 1px solid #B1B1B1;
}
/*右边框*/
.tm-border-right{
    border-right: 1px solid #B1B1B1;
}
.tm-article .edui-default .edui-editor {
    border: 1px solid #d4d4d4;
    background-color: white;
    position: relative;
    overflow: visible;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

/*---------------表单类---------------*/
/*输入框颜色*/
.tm-input-background-color{
    background-color:#F9F9F9;
}
/*加强表单验证的显示边框颜色*/
.am-field-error{
    border:1px solid;
}
/*排序用的输入框*/
.tm-input-sotr{
    width: 30px;
}
/*---------------侧栏---------------*/
.tm-sidebar{
    border-right: 1px solid #eee;
    width: 259px;
    min-height: 100%;
    float: left;
}

@media only screen and (min-width: 641px) {
    .tm-sidebar {
        display: block;
        position: static;
        background: none;
    }
    .tm-sidebar .am-offcanvas-bar{
        min-height: 40rem;
    }
}

@media only screen and (max-width: 640px) {
    .tm-sidebar {
        width: inherit;
    }

}

.am-nav-header{
    padding: .4em 1em;
    border-width: 3px !important;
    border-left: 3px solid #3bb4f2;
    padding: 0 1em;
    margin-top: .4em;
    margin-bottom: .4em;
}
.tm-sidebar li a{
    padding: 0.7rem;
}
/*---------------列表---------------*/
.tm-content{
    width: auto;
    overflow: hidden;
    height: 100%;
}
/*---------------内容---------------*/
.tm-article .selectTdClass{background-color:#edf5fa !important}
.tm-article table.noBorderTable td,.tm-article table.noBorderTable th,.tm-article table.noBorderTable caption{border:1px dashed #ddd !important}
.tm-article table{margin-bottom:10px;border-collapse:collapse;display:table;}
.tm-article td,th{padding: 5px 10px;border: 1px solid #DDD;text-align: inherit !important;}
.tm-article caption{border:1px dashed #DDD;border-bottom:0;padding:3px;text-align:center;}
.tm-article th{border-top:1px solid #BBB;background-color:#F7F7F7;}
.tm-article table tr.firstRow th{border-top-width:2px;}
.tm-article .ue-table-interlace-color-single{ background-color: #fcfcfc; } 
.tm-article .ue-table-interlace-color-double{ background-color: #f7faff; }
.tm-article td p{margin:0;padding:0;}
.content_html h1, h2{margin-top:0}

.tm-article blockquote ul, .tm-article blockquote ol{margin-bottom: 0;}
.am-article-bd img{display: inline !important;}


/*---------------文章目录---------------*/
.article-review{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    border-top: 1px solid #eee;
    border-bottom: 2px solid #eee;
}
.article-review h2{
    position: relative;
    background: #f8f8f8;
    padding: 10px 0 10px 20px;
    font-size: 16px;
    margin-bottom: 0;
}
.article-review h2 span{
    background: #0e90d2;
    display: inline-block;
    padding: 8px 10px 8px 20px;
    font-weight: 400;
    color: #fff;
}
.article-review div{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 10px 10px 10px 20px;
}

/*搜索工具*/
@media only screen and (max-width: 641px) {
    .search-tool{
        margin-bottom: 1rem;
        display: block;
    }
}
/*扩展颜色*/

a.am-btn-white:visited{
    color: #444;
}
.am-btn-white {
    color: #444;
    background-color: #fff;
    border-color: #e6e6e6;
}
.am-btn-white:hover{
    background-color: #f2f2f2;
}
.am-btn-white.am-disabled, .am-btn-white[disabled]{
    background-color: #fff;
    border-color: #737373;
}
/*跳转提示页*/
.jump-page{
    position: relative;
    height: 80vh;
}
.jump-page>div{
    position: relative;
    top: 33%;
}
.jump-page h1{
    width: 900px;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 3.5rem;
    color: rgba(0, 0, 0, 0.8);
    text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
}
.jump-page h2{
    margin: 0 auto;
    font-size: 2.0rem;
    font-weight: 200;
    line-height: 5rem;
    color: rgba(0, 0, 0, 0.8);
    text-shadow: 1px 2px 4px rgba(255,255,255,.5);
}
/*---------------页脚---------------*/
.my-footer {
    background: #fff;
    border-top: 1px solid #eeeeee;
    padding: 10px 0;
    text-align: center;
}