html {
  scroll-behavior: smooth;
  scroll-padding-top: 70px;
}

//导航栏
.am-topbar {
  box-shadow: 0 2px 4px 0 rgb(116 129 141 / 10%);
  background: #fff;
}

//文档页的导航栏
.pes-article-topbar {
  h1 {
    display: none !important;
  }

  @media only screen and (max-width: 640px) {
    h1 {
      display: block !important;
    }

  }
}

#wrapper {
  min-height: 88vh;
}

/*
===================
首页样式
===================
*/
.pes-doc-index {
  .am-gallery-item {
    border: 1px solid #ebeef5;
    transition: .3s;
    box-shadow: none;

    &:hover {
      opacity: 0.5;
      transition: opacity 1s;
      box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
    }

  }

  .doc-cover {
    width: 200px;
    height: 200px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
  }
}

/*
===================
文章详细页的导航
===================
*/
.pes-article-nav {

  .pes-article-nav-title {
    font-weight: bold;

  }

  > li + li:before {
    content: "»\00a0";
    padding: 0;
    color: #666666;
    font-size: 175%;
    font-weight: normal !important;
    vertical-align: -16%;
  }

  .am-dropdown-layer {
    right: 0;
    width: 75%;
  }

  > li > a {
    display: inline-block;

    &:hover::after {
      border: none;
    }
  }

}


/*
===================
文章的边栏
===================
*/
.sidebar {
  position: fixed;
  border-right: 1px solid rgba(0, 0, 0, .07);
  overflow-y: auto;
  padding: 0;
  top: 51px;
  bottom: 0;
  left: 0;
  transition: transform .25s ease-out;
  width: 300px;
  z-index: 3;
  background: #F5F7F9;
  scrollbar-width: thin;
  scrollbar-color: #56817A #eee;

  &::-webkit-scrollbar {
    width: 4px
  }

  &::-webkit-scrollbar-thumb {
    /* background:transparent; */
    /* border-radius:4px; */
  }

  &:hover {
    &::-webkit-scrollbar-thumb {
      background: hsla(0, 0%, 53%, .4)
    }

    &::-webkit-scrollbar-track {
      background: hsla(0, 0%, 53%, .1)
    }
  }

  h2 {
    font-size: 1.5em;
    margin-top: 5px;
  }

  .search input, .search .search-article, .search input:focus {
    border-width: 0 0 1px 0;
    border-color: #ccc;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .search .search-article {
    background-color: #fff;
  }

  .sidebar-nav {
    line-height: 2em;
    padding-bottom: 40px;
  }

  ul {
    list-style: none;
    color: #0e90d2;
    font-size: 15px;
    margin: 0 0 0 15px;
    padding: 0;

    li {
      //padding: 6px 0;
      span, a {
        padding: 6px 0;
        display: block;
      }

      &.am-active {
        border-right: 3px solid #5eb95e;

        a {
          color: #5eb95e;
        }
      }

      a {
        margin-left: 10px;
        color: #666;
        font-weight: 400;
        overflow: hidden;
        text-decoration: none;
        text-overflow: ellipsis;

        &:hover {
          color: #5eb95e;
        }
      }
    }
  }

  .am-selected-list {
    margin: 0 !important;
    color: #333;

    .am-checked {
      color: #CCCCCC;
    }
  }

  .sidebar-nav ul li {
    cursor: pointer;
  }

  .sidebar-hide {
    display: none;
  }

  @media only screen and (max-width: 640px) {
    display: none;
    background: #fdfdfd;
    animation: bounceInLeft 0.6s infinite cubic-bezier(0.6, 0.9, 0.1, 1.000);
    animation-iteration-count: 1;
    top: 0;
    z-index: 1002;

    @keyframes bounceInLeft {
      0% {
        opacity: 0;
        transform: translate3d(-3000px, 0, 0);
      }
      60% {
        opacity: 1;
        transform: translate3d(25px, 0, 0);
      }
      75% {
        transform: translate3d(-10px, 0, 0);
      }
      90% {
        transform: translate3d(5px, 0, 0);
      }
      100% {
        transform: none;
      }
    }
  }

}

//手机版文档目录的遮罩层
@media only screen and (max-width: 640px) {
  .mask-layer {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(3, 14, 27, .7);
    transition: opacity 1s ease-in-out;
    z-index: 1001;
    display: none;
  }
}


/*
===================
文章内容区
===================
*/
.content {
  padding-top: 30px;
  margin: 0 50px 0 350px;
  transition: left .25s ease;

  .am-article-title {
    font-size: 3.2rem;
  }


  .am-article-hd {
    margin-bottom: 2rem;

    h1 {
      padding-bottom: 1rem;
      border-bottom: 1px solid #ccc;
      margin-bottom: 1rem;

    }

    small {
      color: #b5b5b5;
    }

    .am-u-sm-12 {
      @media only screen and (max-width: 640px) {
        text-align: left !important;
      }
    }

    .font-set {
      cursor: pointer;
    }

  }

  .am-article-bd {
    min-height: 60vh;

    img{
      border: 1px solid #ebeef5;
      background-color: #fff;
      color: #303133;
      transition: .3s;
      border-radius: 5px;
      box-shadow:  0px 0px 12px rgba(0, 0, 0, .12);

      &:hover{
        box-shadow: 0 2px 30px rgb(0 0 0 / 22%), 0 2px 5px rgb(0 0 0 / 10%) !important;
      }

    }

  }


  .am-article-hd, .am-article-bd {
    h1, h2, h3, h4, h5, h6 {
      .article-copy-link {
        cursor: pointer;
        display: none;
      }

      &:hover > .article-copy-link {
        display: inline-block;
      }
    }
  }

  .am-pagination {
    li > a {
      color: #606266;
      border: none;
      padding: 0;

      &:hover, &:focus {
        color: #5eb95e;
        background: none;
      }
    }
  }

  .pes-like {
    cursor: pointer;
  }

  @media only screen and (max-width: 640px) {
    width: auto;
    margin: 0 auto;
    padding: 1.5rem;
  }

}

/*
===================
标题导航
===================
*/
.title-nav {
  padding-left: 0;
  border-left: 1px solid #efefef;
  position: fixed;
  right: 0px;
  top: 51px;
  background: #fff;
  width: 0px;
  height: 95vh;

  z-index: 999;

  .title-nav-hide {
    background-color: #efefef;
    border-radius: 10px 0 0 10px;
    border-width: 1px 0px 1px 1px;
    border-color: #efefef;
    border-style: solid;
    cursor: pointer;
    padding: 20px 4px 20px 5px;
    z-index: 1000;
    left: -19px;
    position: absolute;
    top: 50%;
  }

  .title-nav-content {
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    overflow: -moz-scrollbars-none;

    &::-webkit-scrollbar {
      width: 0 !important
    }
  }


  ul {
    list-style: disc;
    margin: 0.5rem 0;

    li.active > a {
      color: #E6A23C;
      font-weight: 500;
    }

  }

  a {
    white-space: nowrap;
    text-decoration: none;
    display: block;
    padding: .125rem 0;
    color: #656262;
    transition: all 50ms ease-in-out;

    &:hover, :focus {
      color: #E6A23C;
    }
  }

}

/*
===================
账户登录、注册相关的样式
===================
*/
.pes-login {
  min-height: 100vh;
  padding-bottom: 40px;
  background: #fafafa;

  .am-field-error, .am-form-error .am-form-field,
  .am-field-valid, .am-form-success .am-form-field {
    box-shadow: none !important;

    :hover, :focus {
      box-shadow: none !important;
    }

  }

  .pes-login-layer {
    width: 400px;
    margin: auto;
    padding-top: 96px;

    .pes-login-panel {
      background-color: #fff;
      padding: 36px 8px 35px;
      margin-bottom: 64px;
      border: 1px solid #e9e9e9;
      border-radius: 4px;

      .pes-login-logo {
        max-width: 320px;
        margin: 0 auto;
        text-align: center;
        padding-bottom: 20px;

        img {
          width: 150px;
          height: 150px;
          border-radius: 4px;
        }
      }

      .pes-login-desc {
        text-align: center;
        padding-bottom: 20px;

        h2 {
          font-size: 32px;
          line-height: 1.2;
          color: #262626;
        }

        p {
          font-size: 18px;
          color: #595959;
        }
      }

      .am-form {
        margin: 0 20px;

        .pes-login-secret-key-container {
          border: 1px dashed #E6A23C;
          padding: 0 5px;
          margin-bottom: 10px;

          .pes-login-secret-key {
            padding-left: 3px;
            border-radius: 2px;
            border-width: 1px;

            &:hover, &:focus {
              border-color: #d9d9d9;
            }
          }
        }


        input {
          border-radius: 0px;
          padding: 1rem 0;
          border-width: 0 0 0 0;
          border-bottom: 1px solid #d9d9d9;
        }

        input:hover, input:focus {
          border-bottom-color: #47c479;
          box-shadow: none;
        }
      }

    }
  }
}

/*
===================
搜索相关样式
===================
*/
.pes-search-panel {

  .pes-search-tool {
    margin-bottom: 10px;

    div {
      background: #f5f5f5;
      display: inline-block;
      padding: 2px 20px;
    }

  }

  .am-g {
    padding: 2rem 0;
    border-bottom: 1px solid #efefef;

    &:last-child {
      border-bottom: none;
    }

    a > h2 {
      color: #606266;
    }

  }

  .pes-search-content {
    color: #b3b3b3;
  }
}

@import "status";
@import "footer";



